<div>
  <h1><%=@category.title%></h1>
  <ul>
  <%@posts.each do |post|%>
    <li><a href="/post/<%=post.id %>"> <%= post.title %></a> $<%= post.price %> ~ (<%= post.location %>)</li>
    <% end %>
  </ul>

  <h3>Create a New Post </h3>
  <form action="/category/<%=@category.id%>" method="post">
  <label for="title">Title</label>
  <input type="text" name="title">
    <p></p>
  <label for="price">Price</label>
  <input type="number" name="price">
    <p></p>
    <label>Location</label>
  <input type="text" name="location">
  <input type="submit" value="Slap it!">

  </form>
</div>
