<div>
  <h2> $<%=@post.price%> / <%=@post.title%> / <%=@post.location%></h2>
  <br>
  <br>
  <img src="/images/<%=@post.image %>"> 
<br>
  <a href="/edit_post/<%=@post.id%>">Edit Post</a><br>
  <a href="/"> << Back Home</a>
</div>


